body{
    margin: 0;
    background-color: #D6D4D3;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 23px;
}

/* header styles */


header{
    background-color: #8E504B;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'cinzel';
}

header h1{
    color: #E1E0E0;
    font-size: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid #D6D4D3;
    
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: #8E504B;
    margin: 40px 0 10px;
}

a{
    color: #8E504B;
}

a:hover {
    background-color: #B5AAAA;
}

footer {
    background-color: #8E504B;
    text-align: center;
    color: #D6D4D3;
    padding: 50px;
    margin: 0;
}

p.caption {
    color: #666666;
    padding: 0;
    margin-top: 0;
    font-style: italic;
    font-size: 14px;
}